<%- include("partials/header4Dash.ejs") %>
<!-- Add Client Form -->
<h1 class="display-5 fw-bold" style="color: black">Add a new client</h1>
<div class="d-flex justify-content-center mt-2">
  <div
    class="card shadow-lg p-3 mb-2 rounded-2"
    style="
      max-width: 600px;
      width: 100%;
      background: linear-gradient(135deg, #6e85b7, #b2c8df);
      color: white;
    "
  >
    <form action="/add-client" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="userId" class="form-label fw-bold">Client User ID</label>
        <input
          type="text"
          id="userId"
          name="userId"
          class="form-control form-control-lg rounded-pill text-center"
          placeholder="Enter User ID"
          required
        />
      </div>
      <div class="mb-3">
        <label for="clientName" class="form-label fw-bold">Client Name</label>
        <input
          type="text"
          id="clientName"
          name="name"
          class="form-control form-control-lg rounded-pill text-center"
          placeholder="Enter client name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="clientEmail" class="form-label fw-bold">Client Email</label>
        <input
          type="text"
          id="clientEmail"
          name="EMAIL"
          class="form-control form-control-lg rounded-pill text-center"
          placeholder="Enter client Email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="transactionFile" class="form-label fw-bold"
          >Upload Transactions (CSV)</label
        >
        <input
          type="file"
          id="transactionFile"
          name="transactionFile"
          class="form-control form-control-lg rounded-pill text-center"
          accept=".csv"
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-light fw-bold w-100 rounded-pill shadow-sm"
      >
        Add Client
      </button>
    </form>
  </div>
</div>

<%- include("partials/footer.ejs") %>
