<%- include("partials/header.ejs") %>

<body
  class="d-flex h-100 text-center text-bg-dark chakra-ui-light"
  data-new-gr-c-s-check-loaded="14.1218.0"
  data-gr-ext-installed=""
  data-new-gr-c-s-loaded="14.1218.0"
>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
      <h1 style="color: rgb(0, 115, 255)">CashCompass</h1>
      <h2>Introducing Our Personal Expense Tracker</h2>

      <p class="lead" style="color: white">
        Select that Register button in the top right to make an account!
        <br />Then Login with your email and password to start tracking your
        expenses 💵
      </p>
      <br />
      <img
        class="mainL"
        src="logo.png"
        height="300px"
        width="300px"
        style="border-radius: 10px"
      />
    </main>
  </div>
  <script
    src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</body>

<%- include("partials/footer.ejs") %>
