<%- include("partials/header.ejs") %>

<body
  class="d-flex h-100 text-center text-bg-dark chakra-ui-light"
  data-new-gr-c-s-check-loaded="14.1218.0"
  data-gr-ext-installed=""
  data-new-gr-c-s-loaded="14.1218.0"
>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
      <h1>Introducing Our Personal Expense Tracker</h1>
      <p class="lead" style="color: white">
        Select that get stared button in the top right to enter our app! 😈
      </p>
      <br />
      <img class="mainL" src="logo.png" height="200px" width="200px" />
    </main>
  </div>
  <script
    src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</body>

<%- include("partials/footer.ejs") %>
