<%- include("partials/header.ejs") %>
<img class="mainL" src="logo.png" height="200px" width="200px" />
<br />
<h1>LPL Hackarma</h1>
<div class="container">
  <p>Hello and welcome to our Personal Expense Hackathon Project</p>
</div>
<br />
<br />
<%- include("partials/footer.ejs") %>
